/* Landing.scss */

.background {
  background: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  background-position: center;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
  background-color: white;
  padding: 34px;
  border-radius: 10px;

  .header {
    text-align: center;
    color: rgb(77, 1, 77);
    margin-bottom: 20px;


    img {
      width: 50px;
    }

    h1 {
      font-size: 36px;
    }

    p {
      font-size: 18px;
    }
  }

  .main-content {
    .buttons {
      display: flex;
      gap: 20px;
      margin-top: 20px;

      .button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 18px;
        background-color: rebeccapurple;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #6d1b6f;
        }
      }
    }
  }

  .footer {
    text-align: center;
    color: #888;

    p {
      font-size: 14px;
    }
  }
}